# Dependencies
TS_transcode/node_modules/
TS_transcode/dist/

# Backups
backup/

# Pascal compiled / generated
lib/
*.exe
*.res
*.app
*.compiled
*.o
*.ppu
*.dcu
link*.res
ppas.sh

# OS files
.DS_Store
._*
Thumbs.db

# IDE
*.lps
*.lfm
*.ico
